
@{
    Layout = null;
}



<h2 ng-click="showPopover= !showPopover" class="centered">
    {{($ctrl.dateList|find:{PeriodId: $root.$stateParams.date}).Name }}
    <i class="{{$root.Icons.arrowdown}} right"></i>
</h2>
<div id="test" 
     class="popover fade bottom in" 
     ng-style="{display: showPopover?'block':'none'}" 
     style="top: 60px;" 
     ng-click="showPopover = false">
    <div class="arrow" style="left: 50%;"></div>
    <div style="width: 300px;">
        <div class="col-sm-12">
            <div class="list-group" style="max-height: 400px; overflow-y: auto;">
                <a ui-sref="financials({date:date.PeriodId})" class="list-group-item" ng-repeat="date in $ctrl.dateList |orderBy:'PeriodId':true" ui-sref-active="active">
                    {{date.Name}}
                </a>
            </div>
        </div>
    </div>
</div>