
@{
                /**/

                Layout = null;
}


<h1 class="top">
    {{$ctrl.volumes.results[0].CountryName}} Details
    <a class="closebtn" ui-sref="^" ui-sref-opts="{reload:true}"><i ng-class="$root.Icons.close"></i></a>
</h1>
<div class="content">
    <h2>Values</h2>

    <ul class="nav nav-tabs">
        <li ng-class="{active: $ctrl.show == 'values'}"
            ng-click="$ctrl.show = 'values'"><a href="">Values</a></li>
        <li ng-class="{active: $ctrl.show == 'prices'}"
            ng-click="$ctrl.show = 'prices'"><a href="">Prices</a></li>
        <li class="pull-right" ng-class="{active:  $ctrl.show == 'budget'}"
            ng-click="$ctrl.show = 'budget'"><a href="">Budget</a></li>
        <li class="pull-right" ng-class="{active: $ctrl.show == 'adjustment'}"
            ng-click="$ctrl.show = 'adjustment'"><a href="">Adjustments</a></li>
    </ul>
    <table class="table table-striped table-condensed table-hover"
           ng-show="$ctrl.show == 'values'">
        <thead>
            <tr>
                <th>Month</th>
                <th class="number">VPD</th>
                <th class="number">ExFactory</th>
                <th class="number">Delta</th>
                <th class="number" style="width: 80px;">Delta %</th>

            </tr>
        </thead>
        <tr ng-repeat="(index,volume) in $ctrl.volumes.results"
            ng-style="{'border-bottom': (''+volume.MonthId).lastIndexOf('01') === 4?'2px solid #ccc':''}">
            <td ng-class="{'forecasted':volume.Forecasted}" class="no-break">{{volume.MonthId|periodName}}</td>
            <td ng-class="{'forecasted':volume.Forecasted}" class="number">{{volume.Vpd|numberPrefix:$root.currentPrefix:0}}</td>
            <td ng-class="{'forecasted':volume.Forecasted}" class="number">{{volume.ExFactory|numberPrefix:$root.currentPrefix:0}}</td>
            <td ng-class="{'forecasted':volume.Forecasted}" class="number">{{volume.ExFactory-volume.Vpd|numberPrefix:$root.currentPrefix:0}}</td>
            <td ng-class="{'forecasted':volume.Forecasted}" class="number">
              
                <input ng-disabled="!volume.Forecasted" class="form-control input-sm number" ng-model="volume.DeltaPercent" percent="0"  ng-change="$ctrl.updateDelta(volume, index)" />
            </td>
        </tr>
    </table>

    <table class="table table-striped table-condensed table-hover" ng-show="$ctrl.show == 'prices'">
        <thead>
            <tr>
                <th>Month</th>

                <th class="number">Price</th>
            </tr>
        </thead>
        <tr ng-repeat="volume in $ctrl.volumes.results"
            ng-style="{'border-bottom': (''+volume.MonthId).lastIndexOf('01') === 4?'2px solid #ccc':''}">
            <td ng-class="{'forecasted':volume.Forecasted}" class="no-break">{{volume.MonthId|periodName}}</td>

            <td ng-class="{'forecasted':volume.Forecasted}" class="number">
                <input ng-model="volume.Price"
                       class="form-control input-sm number"
                       ng-change="$ctrl.updatePrice(volume)"
                       number="2" />
            </td>

        </tr>
    </table>

    <table class="table table-striped table-condensed table-hover" ng-show="$ctrl.show == 'adjustment'">
        <thead>
            <tr>
                <th>Month</th>

                <th class="number">Adjustment</th>
            </tr>
        </thead>
        <tr ng-repeat="volume in $ctrl.volumes.results"
            ng-style="{'border-bottom': (''+volume.MonthId).lastIndexOf('01') === 4?'2px solid #ccc':''}">
            <td ng-class="{'forecasted':volume.Forecasted}" class="no-break">{{volume.MonthId|periodName}}</td>

            <td ng-class="{'forecasted':volume.Forecasted}" class="number">{{volume.Adjustment|numberPrefix:$root.currentPrefix:0}}</td>

        </tr>
    </table>

    <table class="table table-striped table-condensed table-hover" ng-show="$ctrl.show == 'budget'">
        <thead>
            <tr>
                <th>Month</th>

                <th class="number">Budget</th>
            </tr>
        </thead>
        <tr ng-repeat="volume in $ctrl.volumes.results"
            ng-style="{'border-bottom': (''+volume.MonthId).lastIndexOf('01') === 4?'2px solid #ccc':''}">
            <td ng-class="{'forecasted':volume.Forecasted}" class="no-break">{{volume.MonthId|periodName}}</td>

            <td ng-class="{'forecasted':volume.Forecasted}" class="number">{{volume.Budget|numberPrefix:$root.currentPrefix:0}}</td>

        </tr>
    </table>
</div>