@{
    Layout = null;
}

<div class="flex-container" style="justify-content:flex-start;">
    <div class="flex-box"
         style="max-width: 350px;display:flex;flex-direction:column; justify-content:space-between">
        <h3 class="tilehead" style="margin: 0">Add new Scenario</h3>
        <div class="content" style="">
            <span>Version name</span>
            <input class="form-control" ng-model="$ctrl.newScenario.Version" />
            <span>Brand</span>
            <select class="form-control"
                    ng-model="$ctrl.newScenario.BrandUuid"
                    ng-options="brand.BrandUuid as brand.BrandName for brand in $ctrl.brands"></select>

        </div>
        <button ng-disabled="$ctrl.addingScenario"
                class="btn btn-primary btn-flex"
                style="margin: 10px"
                ng-click="$ctrl.addScenario()">
       
                <spinner show="{{$root.Icons.add}}" loading="$ctrl.addingScenario"></spinner>&nbsp;{{$ctrl.infoText ||'Add Scenario'}}
          
        </button>
    </div>
    <div class="flex-box"
         ng-repeat="scenario in $ctrl.scenarios.results"
         style="max-width: 350px;display:flex;flex-direction:column;">
        <h3 class="tilehead">
            {{scenario.Version}}

                <spinner class="pull-right" ng-click="$ctrl.deleteScenario(scenario.ScenarioUuid)" loading="$ctrl.deleting[scenario.ScenarioUuid]" show="{{$root.Icons.remove}}"></spinner>
            
        </h3>
        <div class="content" style="flex-grow:1">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr>
                    <td>Brand</td>
                    <td>{{scenario.Brand.BrandName}}</td>
                </tr>
                <tr>
                    <td>Create Date</td>
                    <td>{{scenario.CreatedOn|date}}</td>
                </tr>
            </table>

        </div>
        <button class="btn btn-flex btn-default bot "
                style="margin: 10px"
                ui-sref="financials.scenario.overview({scenarioUuid: scenario.ScenarioUuid})">
            <span>View</span> &nbsp;<i ng-class="$root.Icons.arrowright2"></i>
        </button>
    </div>
</div>