
@{
    Layout = null;
}


<div class="flex-container main-container">
    <div class="flex-box" style="display:flex;flex-direction:column;">
        <h2 class="tilehead">
            {{($ctrl.scenarios.results| find:$root.$stateParams.scenarioUuid:'ScenarioUuid').Version}}
        </h2>
        <div class="content">
            <ul class="nav nav-tabs">
                <li ui-sref-active="active"
                    ui-sref="financials.scenario.overview({scenarioUuid: $root.$stateParams.scenarioUuid})">
                    <a href="">Overview</a>
                </li>
                <li ui-sref-active="active"
                    ui-sref="financials.scenario.report({scenarioUuid: $root.$stateParams.scenarioUuid})">
                    <a href="">Report</a>
                </li>
                <li ui-sref-active="active"
                    ui-sref="financials.scenario.reportadj({scenarioUuid: $root.$stateParams.scenarioUuid})">
                    <a href="">Adjusted Report</a>
                </li>

                <li class="pull-right" set-dropdown>
                    <a class="ms-Icon ms-Icon--GlobalNavButton dropdown-toggle" data-toggle="dropdown"></a>

                    <div class="list-group dropdown-menu" style="width: 200px;">

                        <a class="list-group-item"
                           href="/_api/Scenario/{{$root.$stateParams.scenarioUuid}}/Report/Download">Download Report</a>

                        <a class="list-group-item"
                           href="/_api/Scenario/{{$root.$stateParams.scenarioUuid}}/Overview/Download">Download Overview</a>

                        <a class="list-group-item"
                           href="/_api/Scenario/{{$root.$stateParams.scenarioUuid}}/Prices/Download">Download Prices</a>
                        <a class="list-group-item"
                           href="/_api/Scenario/{{$root.$stateParams.scenarioUuid}}/Budget/Download">Download Budget</a>
                        <a class="list-group-item"
                           href="/_api/Scenario/{{$root.$stateParams.scenarioUuid}}/Adjustment/Download">Download Adjustments</a>
                        <a class="list-group-item"
                           href="/_api/Scenario/{{$root.$stateParams.scenarioUuid}}/All/Download">Download All</a>
                        <hr class="divider" />
                        <button class="list-group-item"
                                ng-model="$ctrl.allFile"
                                ngf-drop
                                ngf-select
                                ngf-drag-over-class="'dragover'"
                                ngf-multiple="false"
                                ngf-allow-dir="false">
                            Upload
                        </button>

                    </div>

                </li>
                <li class="pull-right">

                </li>
                <li class="pull-right">
                    <select class="form-control" ng-model="$ctrl.numberFormat"
                            ng-options="format.name for format in $ctrl.formatList"></select>
                </li>                
                <li class="pull-right disabled" ng-show="$ctrl.loadingAdjustment"><a href="#"><spinner show="$root.Icons.add" loading="$ctrl.loadingAdjustment"></spinner>Updating.</a></li>
            </ul>
            <div ui-view="scenario">

            </div>
        </div>
    </div>
    </div>