
@{
    ViewBag.Title = "Index";
}


<div ui-view ng-cloak id="content"></div>

<div style="" id="loader" set-cloak>
    <h1><img src="/Images/Logo_Cross_20_Wht.png"/> Bayer SET </h1>
    <small>Preparing Application</small>
</div>