@{
    Layout = null;
}

<div>
    <table class="table  table-condensed table-bordered table-hover"
           style="height:600px">
        <thead>
            <tr>
                <th>
                    Country
                    <div class="pull-right"
                         style="padding: 0 6px; border-radius:30px;color: white;background: #0091df"
                         set-popover
                         c-content="#tableinfo"
                         placement="bottom"
                         title="Legend">
                        <i style="font-size: 11px;" ng-class="$root.Icons.help"></i>
                    </div>
                </th>
                <th class="number"
                    ng-style="{'border-left': month.indexOf('Jan') ===0?'1px solid #ccc':''}"
                    ng-repeat="month in $ctrl.overviewMonths">{{month}}</th>
            </tr>
        </thead>
        <tr ng-repeat-start="(key, country) in $ctrl.currentScenario.Volumes"
            ng-class="{active:country.CountryId === $ctrl.$stateParams.country,odd:$odd}">
            <td rowspan="4">
                <a ui-sref="financials.scenario.overview.detail({country:country.CountryId})">{{key}}</a>
                <span ng-show="country.MissingPrice>0 || country.MissingDelta>0" class="pull-right ms-Icon ms-Icon--Warning"></span>
            </td>
            <td ng-repeat="volume in country.Volumes"
                class="number"
                ng-style="{'border-left': (''+volume.MonthId).lastIndexOf('01') === 4?'1px solid #ccc':''}"
                ng-class="{'forecasted':volume.Forecasted}">
                {{volume.Vpd|numberPrefix:$root.currentPrefix:0}}
            </td>
        </tr>
        <tr ng-class="{active:country.CountryId === $ctrl.$stateParams.country,odd:$odd}">

            <td ng-repeat="volume in country.Volumes"
                class="number"
                ng-style="{'border-left': (''+volume.MonthId).lastIndexOf('01') === 4?'1px solid #ccc':''}"
                ng-class="{'forecasted':volume.Forecasted}">
                {{volume.ExFactory|numberPrefix:$root.currentPrefix:0}}
            </td>
        </tr>

        <tr ng-class="{active:country.CountryId === $ctrl.$stateParams.country,
            odd:$odd}">

            <td ng-repeat="volume in country.Volumes"
                class="number"
                ng-style="{'border-left': (''+volume.MonthId).lastIndexOf('01') === 4?'1px solid #ccc':''}"
                ng-class="{'forecasted':volume.Forecasted}">
                {{volume.DeltaVolume|numberPrefix:$root.currentPrefix:0}}
            </td>
        </tr>
        <tr style="" ng-repeat-end ng-class="{active:country.CountryId === $ctrl.$stateParams.country,
            odd:$odd}">

            <td ng-repeat="volume in country.Volumes"
                class="number"
                ng-style="{'border-left': (''+volume.MonthId).lastIndexOf('01') === 4?'1px solid #ccc':''}"
                ng-class="{'forecasted':volume.Forecasted}">
                {{volume.DeltaPercent|percent:0}} %
            </td>
        </tr>
        <tbody>
            <tr style="" >
                <td>Summary In</td>
                <td ng-repeat="volume in $ctrl.summary.in"
                    class="number">
                    {{volume|numberPrefix:$root.currentPrefix:0}}
                </td>
            </tr>
            <tr style="">
                <td>Summary Out</td>
                <td ng-repeat="volume in $ctrl.summary.out"
                    class="number">
                    {{volume|numberPrefix:$root.currentPrefix:0}}
                </td>
            </tr>
            <tr style="">
                <td>Summary Delta</td>
                <td ng-repeat="volume in $ctrl.summary.delta"
                    class="number">
                    {{volume|numberPrefix:$root.currentPrefix:0}}
                </td>
            </tr>
        </tbody>
    </table>
    <div id="tableinfo" class="hidden" style="color: #333;">
       
        <table class="table" style="background: transparent">
            <tr >
                <td width="100">
                    First row
                </td>
                <td>VPD</td>
            </tr>
            <tr>
                <td>
                    Second row
                </td>
                <td>ExFactory</td>
            </tr>
            <tr>
                <td>
                    Third row
                </td>
                <td>Delta</td>
            </tr>
            <tr>
                <td>Fourth row</td>
                <td>Delta %</td>
            </tr>
            <tr>
                <td class="forecasted">
                    Shaded
                </td>
                <td class="">Forecasted</td>
            </tr>
        </table>
    </div>
</div>