
@{
    Layout = null;
}


@{
    Layout = null;
}
<div>
    
    <table class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>

                </th>
                <th colspan="3" class="border-left">Full Year</th>
                <th colspan="3" class="border-left">Year to date</th>
                <th colspan="3" class=" border-left">Single Month</th>
            </tr>
            <tr>
                <th>Country</th>
                <th class="number border-left">Current</th>
                <th class="number">vs. Previous</th>
                <th class="number">vs. Budget</th>
                <th class="number border-left">Current</th>
                <th class="number">vs. Previous</th>
                <th class="number">vs. Budget</th>
                <th class="number border-left">Current</th>
                <th class="number">vs. Previous</th>
                <th class="number">vs. Budget</th>
            </tr>
        </thead>
        <tbody ng-repeat="cluster in $ctrl.reports|orderBy:'CountryCluster'">
            <tr class="sum-row">
                <td>
                    {{cluster.CountryCluster}}
                    <span class="pull-right"
                          ng-click="cluster.opened = !cluster.opened"
                          ng-show="cluster.Reports.length > 1">
                        <span ng-show="!cluster.opened" class="ms-Icon ms-Icon--ChevronDown"></span>
                        <span ng-show="cluster.opened" class="ms-Icon ms-Icon--ChevronUp"></span>
                    </span>
                </td>
                <td class="number border-left">
                    <span class="inline-info"
                          ng-show="cluster.ActualYear.ActAdj">({{cluster.ActualYear.ActAdj|numberPrefix:$root.currentPrefix:0}})</span>
                    {{(cluster.ActualYear.Act+ cluster.ActualYear.ActAdj)|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">
                    <span class="inline-info"
                          ng-show="cluster.ActualYear.PyAdj">({{cluster.ActualYear.PyAdj|numberPrefix:$root.currentPrefix:0}})</span>
                    {{cluster.ActualYear.VsPyAdj|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">{{cluster.ActualYear.VsBudAdj|numberPrefix:$root.currentPrefix:0}}</td>

                <td class="number border-left">
                    <span class="inline-info"
                          ng-show="cluster.YTD.ActAdj">({{cluster.YTD.ActAdj|numberPrefix:$root.currentPrefix:0}})</span>
                    {{(cluster.YTD.ActAdj+cluster.YTD.Act)|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">
                    <span class="inline-info"
                          ng-show="cluster.YTD.PyAdj">({{cluster.YTD.PyAdj|numberPrefix:$root.currentPrefix:0}})</span>
                    {{cluster.YTD.VsPyAdj|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">{{cluster.YTD.VsBudAdj|numberPrefix:$root.currentPrefix:0}}</td>

                <td class="number border-left">
                    <span class="inline-info"
                          ng-show="cluster.ActualMonth.ActAdj">({{cluster.ActualMonth.ActAdj|numberPrefix:$root.currentPrefix:0}})</span>
                    {{(cluster.ActualMonth.ActAdj+cluster.ActualMonth.Act)|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">
                    <span class="inline-info"
                          ng-show="cluster.ActualMonth.PyAdj">({{cluster.ActualMonth.PyAdj|numberPrefix:$root.currentPrefix:0}})</span>
                    {{cluster.ActualMonth.VsPyAdj|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">{{cluster.ActualMonth.VsBudAdj|numberPrefix:$root.currentPrefix:0}}</td>



            </tr>
            <tr ng-repeat="report in cluster.Reports"
                ng-show="cluster.Reports.length>1 && cluster.opened">
                <td>&nbsp;&nbsp;{{report.ActualYear.CountryName}}</td>
                <td class="number border-left">
                    <span class="inline-info"
                          ng-show="report.ActualYear.ActAdj">({{report.ActualYear.ActAdj|numberPrefix:$root.currentPrefix:0}})</span>
                    {{(report.ActualYear.ActAdj+report.ActualYear.Act)|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">
                    <span class="inline-info"
                          ng-show="report.ActualYear.PyAdj">({{report.ActualYear.PyAdj|numberPrefix:$root.currentPrefix:0}})</span>
                    {{report.ActualYear.VsPyAdj|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">{{report.ActualYear.VsBudAdj|numberPrefix:$root.currentPrefix:0}}</td>

                <td class="number border-left">
                    <span class="inline-info"
                          ng-show="report.YTD.ActAdj">({{report.YTD.ActAdj|numberPrefix:$root.currentPrefix:0}})</span>
                    {{(report.YTD.ActAdj+report.YTD.Act)|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">
                    <span class="inline-info"
                          ng-show="report.YTD.PyAdj">({{report.YTD.PyAdj|numberPrefix:$root.currentPrefix:0}})</span>{{report.YTD.VsPyAdj|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">{{report.YTD.VsBudAdj|numberPrefix:$root.currentPrefix:0}}</td>

               
                <td class="number border-left">
                    <span class="inline-info"
                          ng-show="report.ActualMonth.ActAdj">({{report.ActualMonth.ActAdj|numberPrefix:$root.currentPrefix:0}})</span>
                    {{(report.ActualMonth.Act+report.ActualMonth.ActAdj)|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">
                    <span class="inline-info"
                          ng-show="report.ActualMonth.PyAdj">({{report.ActualMonth.PyAdj|numberPrefix:$root.currentPrefix:0}})</span>
                    {{report.ActualMonth.VsPyAdj|numberPrefix:$root.currentPrefix:0}}
                </td>
                <td class="number">{{report.ActualMonth.VsBudAdj|numberPrefix:$root.currentPrefix:0}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr style="border-top: 4px double #ccc">
                <th>Total</th>
                <th class="number border-left">{{$ctrl.reports|sum:'ActualYear.ActAdj':0:$root.currentPrefix}}</th>
                <th class="number">{{$ctrl.reports|sum:'ActualYear.VsPyAdj':0:$root.currentPrefix}}</th>
                <th class="number">{{$ctrl.reports|sum:'ActualYear.VsBudAdj':0:$root.currentPrefix}}</th>

                <th class="number border-left">{{$ctrl.reports|sum:'YTD.ActAdj':0:$root.currentPrefix}}</th>
                <th class="number">{{$ctrl.reports|sum:'YTD.VsPyAdj':0:$root.currentPrefix}}</th>
                <th class="number">{{$ctrl.reports|sum:'YTD.VsBudAdj':0:$root.currentPrefix}}</th>

                <th class="number border-left">{{$ctrl.reports|sum:'ActualMonth.ActAdj':0:$root.currentPrefix}}</th>
                <th class="number">{{$ctrl.reports|sum:'ActualMonth.VsPyAdj':0:$root.currentPrefix}}</th>
                <th class="number">{{$ctrl.reports|sum:'ActualMonth.VsBudAdj':0:$root.currentPrefix}}</th>
            </tr>
        </tfoot>
    </table>
</div>
