<div>

    <div class="input-group" style="width: 300px;" ng-show="!hideSearch">
        <span class="input-group-addon"><i ng-class="$root.Icons.search"></i></span>
        <input class="form-control" placeholder="Search ..." ng-model="search" ng-model-options="{debounce:200}"/>
    </div>
    <div class="list-group">
        <div class="list-group-item active" ng-show="filter[field]!= undefined">
            {{mapping[filter[field]] || filter[field]}}<i ng-class="$root.Icons.close" ng-click="filter[field] = undefined" class="pull-right"></i>
        </div>
    </div>
    <div style="max-height: 300px; overflow-y: auto; min-width: 200px; min-height: 40px;" class="list-group">

        <a class="list-group-item" ng-repeat="item in distinctList|filter:search" ng-show="item!=filter[field]?'active':''">
            <span ng-click="filter[field] = item">{{mapping[item] || item}}</span>
        </a>
    </div>
</div>