<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ClientId" value="39a7c6dc-db12-411a-923f-b1093e3456cb" />
    <add key="ClientSigningCertificatePath" value="F:\Dev\Projects\Bayer.SharePoint.SET.App\Certificates\BayerSET2017.pfx" />
    <add key="ClientSigningCertificatePassword" value="1234abc!" />
    <add key="IssuerId" value="14fe3571-b283-4d3d-9534-cdef2197aa43" />
    <add key="LDAP" value="GC://DC=healthcare,DC=cnb;GC://DC=bayer,DC=cnb" />
    <add key="ADSecurityGroup" value="bs.u.set_users" />
  </appSettings>
  <connectionStrings>
    <add name="HANADB" connectionString="[ConnectionString]" providerName="Sap.Data.Hana" />
    <!-- <add name="HANADB" connectionString="Server=by-dch2th01.de.bayer.cnb:37015;Current Schema=SETAPP;UserID=MXSETT;Password=Pwuq93jdklx;" providerName="Sap.Data.Hana" />-->
    <!-- <add name="HANADB" connectionString="Server=by-dch2th01.de.bayer.cnb:37015;Current Schema=SETAPP;UserID=MXSETT;Password=Pwuq93jdklx;" providerName="Sap.Data.Hana" />-->
    <!--<add name="HANADB" connectionString="Server=by-dch2dh01.bayer-ag.com:35015;Current Schema=SETAPP;UserID=MXSETT;Password=Skhoz32yc;" providerName="Sap.Data.Hana" />-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime maxRequestLength="10240" executionTimeout="3600" targetFramework="4.5" />
    <authentication mode="Windows" />
    <roleManager defaultProvider="SetRoleProvider" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="SetRoleProvider" type="Bayer.SharePoint.SET.AppWeb.Helper.SetRoleProvider" />
      </providers>
    </roleManager>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependendAssembly>
        <assemblyIdentity name="Sap.Data.Hana.v4.5" culture="neutral" publicKeyToken="0326b8ea63db4bc4" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.3.99.0" />
      </dependendAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by SharePoint Add-in-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <remove fileExtension="*.woff" />
      <remove fileExtension="*.woff2" />
      <remove fileExtension="*.ttf" />
      <mimeMap fileExtension="*.woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="*.woff2" mimeType="font/woff2" />
      <mimeMap fileExtension="*.ttf" mimeType="application/font-sfnt" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
        <fileExtensions>
          <remove fileExtension=".asax" />
          <add fileExtension=".asax" allowed="true" />
          <add fileExtension=".css" allowed="true" />
          <add fileExtension=".less" allowed="true" />
          <add fileExtension=".html" allowed="true" />
          <add fileExtension=".xlsx" allowed="true" />
          <add fileExtension=".ttf" allowed="true" />
          <add fileExtension=".woff" allowed="true" />
          <add fileExtension=".woff2" allowed="true" />
          <add fileExtension=".eot" allowed="true" />
          <add fileExtension=".gif" allowed="true" />
          <add fileExtension=".ttinclude" allowed="true" />
          <add fileExtension=".map" allowed="true" />
          <add fileExtension=".cshtml" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="set@bayer.com">
        <network host="exsmtp.de.bayer.cnb" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
<!--ProjectGuid: 4F0A6845-A580-4297-A009-891C0E91E0A9-->