
@{
    Layout = null;
}
<h1 class="top">
    {{$ctrl.item.BayerSkuName}} <sup ng-show="$ctrl.item.IsNew" class="">new</sup>
    <a class="closebtn" ui-sref="^"><i ng-class="$root.Icons.close"></i></a>
</h1>

<div class="content">

    <h2>Info</h2>
    <table class="table">
        <tr>
            <td>Source</td>
            <td>
                <div uib-dropdown>
                    <datatype type="$ctrl.item.DataTypeId"></datatype> {{$ctrl.item.DataTypeName}}
                    <i ng-click="" ng-show="$ctrl.item.Sources.length>1 && $ctrl.canEdit" uib-dropdown-toggle ng-class="$root.Icons.arrowdown"></i>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="source in $ctrl.item.Sources"><a ng-click="$ctrl.updateForecast(source.ForecastUuid)"><datatype type="source.DataTypeId"></datatype> {{source.DataTypeName}}</a></li>
                    </ul>

                </div>
            </td>
        </tr>
        <tr ng-hide="$ctrl.item.DataTypeId !== 2 ||  $ctrl.countryPeriod.StatusId != 500">
            <td>Correction</td>
            <td class="number">
                <input class="number form-control"
                       ng-disabled="!$ctrl.canEdit"
                       ng-model="$ctrl.item.CorrectionFactor"
                       ng-change="$ctrl.updateCorrection($ctrl.item)"
                       number="2"/>
            </td>
        </tr>
        <tr> 
            <td>
                <span uib-tooltip="Emergency Channel Quantity"
                      tooltip-append-to-body="true">
                    Emergency Qty
                </span>
            </td>
            <td class="number">{{$ctrl.item.EmergencyChannelQuantity|numberscale|number:0}}</td>
        </tr>
        <tr>
            <td>Emergency Channel % of Total</td>
            <td class="number">{{($ctrl.item.EcqPerc |percent) || '-'}}</td>
        </tr>
        <tr>
            <td>Growth (in %)</td>
            <td class="number">{{($ctrl.item.Growth|percent) || '-'}}</td>
        </tr>
        <tr>
            <td>Tolerance (in %)</td>
            <td class="number">
                <input class="number form-control"
                       ng-disabled="!$ctrl.canEdit && $ctrl.countryPeriod.StatusId == 510"
                       ng-model="$ctrl.item.OperatingTolerance"
                       percent="0"
                       ng-change="$ctrl.update($ctrl.item, 'OperatingTolerance')" />
            </td>
        </tr>
        <tr>
            <td>Target Volume</td>
            <td class="number">
                {{$ctrl.TargetVolume($ctrl.item)|numberscale|number: 0}}
            </td>
        </tr>
        <tr>
            <td>Proposal</td>
            <td>
                <input ng-model="$ctrl.item.Proposal"
                       class="number form-control"
                       numberscale
                       ng-change="$ctrl.Update(item, 'Proposal')"
                       ng-disabled="!$ctrl.canEdit || ($ctrl.countryPeriod.StatusId != 510 && $ctrl.countryPeriod.StatusId != 520)" />

            </td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>
                {{$ctrl.item.ProposalComment}}
                <comment ng-model="$ctrl.item.ProposalComment"
                         ng-change="$ctrl.Update(item, 'ProposalComment')"
                         ng-disabled="!$ctrl.canEdit || ($ctrl.countryPeriod.StatusId != 510 && $ctrl.countryPeriod.StatusId != 520)"></comment>
            </td>
        </tr>
        <tr>
            <td>Approved</td>
            <td>
                <check-box ng-model="$ctrl.item.TargetvolumeApproved"
                           ng-change="$ctrl.update($ctrl.item, 'FcApproved')"
                           ng-disabled="!$ctrl.canEdit || $ctrl.countryPeriod.StatusId != 520"></check-box>
            </td>
        </tr>
        <tr>
            <td>Scope</td>
            <td>
                <check-box ng-model="$ctrl.item.InScope"
                           ng-change="$ctrl.toggleScope()"
                           ng-disabled="($ctrl.countryPeriod.StatusId != 500 && $ctrl.countryPeriod.StatusId != 520) ||  !$ctrl.canEdit"></check-box>
            </td>
        </tr>
    </table>

    <div ng-show="$ctrl.item.Forecasts.length">
        <h2>Target Volume Comparisson</h2>

        <table class="table">
            <tr ng-repeat="forecast in $ctrl.item.Forecasts">
                <td>{{forecast.DataTypeName}}</td>
                <td class="number">{{$ctrl.TargetVolume(forecast)|numberscale|number: 0}}</td>
            </tr>
        </table>
    </div>

    <h2>Forecast Values</h2>

    <div ng-show="$ctrl.item.DataTypeId != 4">
        <am-chart data="$ctrl.months"
                  options="$ctrl.chartOptions"
                  width="100%"
                  height="200px" style="height: 200px;"></am-chart>

        <table class="table">
            <thead>
                <tr>
                    <th>Month</th>
                    <th class="number">Value</th>
                </tr>
            </thead>
            <tr ng-repeat="month in $ctrl.months" ng-style="{background: month.Color=='#cccccc'? '#ffffff':month.Color}">
                <td>{{month.Name}}</td>
                <td class="number">{{month.Value|numberscale|number:0}}</td>
            </tr>

        </table>

    </div>
</div>