
@{
    Layout = null;
}


<div class="flex-container">

    <div class="flex-box">
        <h2 class="tilehead">
            <span>
                Data Preparation
            </span>
            <a ng-show="$ctrl.countryPeriod.StatusId > 100 && $root.user.canWrite('country.'+$ctrl.countryPeriod.CountryId+'.reset')" ng-click="$ctrl.reset()" class="" style="right: 70px; position: absolute;"><i ng-class="$root.Icons.reset"></i></a>
            <span class="headicon">
                <status-icon offset="9 " target="100" Status="$ctrl.countryPeriod.StatusId"></status-icon>
                <status-icon offset="9" target="110" Status="$ctrl.countryPeriod.StatusId"></status-icon>
            </span>
        </h2>
        <div ui-view="dataPreparation"></div>
        <button class="btn btn-flex btn-default bot " ui-sref="dataPreparation" ng-disabled="!$ctrl.countryPeriod.NationalFileName  && !$ctrl.countryPeriod.BrickFileName">
            <span>Details</span> &nbsp;<i ng-class="$root.Icons.arrowright2"></i>
        </button>
    </div>
    <div class="flex-box">

        <h2 class="tilehead">
            <span>
                Anomaly Detection
                <status-icon class="headicon"
                             target="200"
                             Status="$ctrl.countryPeriod.StatusId"
                             skipped="!$ctrl.countryPeriod.BrickFileName"></status-icon>
            </span>
        </h2>
        <div ui-view="anomalyDetection"></div>
        <button class="btn btn-flex btn-default bot " ui-sref="anomalyDetection" ng-disabled="$ctrl.countryPeriod.StatusId<200">
            <span>Details</span> &nbsp;<i ng-class="$root.Icons.arrowright2"></i>
        </button>
    </div>
    <div class="flex-box">

        <h2 class="tilehead">
            <span>
                Anomaly Validation
                <span class="headicon">
                    &nbsp;
                    <status-icon target="300"
                                 offset="9"
                                 Status="$ctrl.countryPeriod.StatusId"
                                 skipped="!$ctrl.countryPeriod.BrickFileName"></status-icon>
                    <status-icon target="310"
                                 offset="9"
                                 Status="$ctrl.countryPeriod.StatusId"
                                 skipped="!$ctrl.countryPeriod.BrickFileName"
                                 ng-hide="!$ctrl.countryPeriod.BrickFileName && $ctrl.countryPeriod.StatusId > 100"></status-icon>
                    <status-icon target="320"
                                 offset="9"
                                 Status="$ctrl.countryPeriod.StatusId"
                                 skipped="!$ctrl.countryPeriod.BrickFileName"
                                 ng-hide="!$ctrl.countryPeriod.BrickFileName && $ctrl.countryPeriod.StatusId >100"></status-icon>
                    &nbsp;
                </span>
            </span>
        </h2>
        <div ui-view="anomalyValidation"></div>
        <button class="btn btn-flex btn-default bot " ui-sref="anomalyValidation" ng-disabled="$ctrl.countryPeriod.StatusId<300">
            <span>Details</span> &nbsp;<i ng-class="$root.Icons.arrowright2"></i>
        </button>
    </div>
    <div class="flex-box">

        <h2 class="tilehead">
            <span>
                Patient Demand Validation
                <span class="headicon">
                    &nbsp;
                   <status-icon target="410"
                                 offset="9"
                                 Status="$ctrl.countryPeriod.StatusId"
                                 skipped="!$ctrl.countryPeriod.BrickFileName"
                                 ng-hide="!$ctrl.countryPeriod.BrickFileName && $ctrl.countryPeriod.StatusId >100"></status-icon>
                    <status-icon target="420"
                                 offset="9"
                                 Status="$ctrl.countryPeriod.StatusId"
                                 skipped="!$ctrl.countryPeriod.BrickFileName"
                                 ng-hide="!$ctrl.countryPeriod.BrickFileName && $ctrl.countryPeriod.StatusId >100"></status-icon>
                    &nbsp;
                </span>
            </span>
        </h2>
        <div ui-view="calculateVPD"></div>
        <button class="btn btn-flex btn-default bot" ui-sref="patientDemandValidation" ng-disabled="$ctrl.countryPeriod.StatusId<400">
            <span>Details</span> &nbsp;<i ng-class="$root.Icons.arrowright2"></i>
        </button>
    </div>
    <div class="flex-box">

        <h2 class="tilehead" style="font-size: 15px;">
            <span>
                Target Volume Extrapolation
                <span class="headicon">
                    &nbsp;
                    <status-icon target="500"
                                 offset="9"
                                 Status="$ctrl.countryPeriod.StatusId"></status-icon>
                    <status-icon target="510"
                                 offset="9"
                                 Status="$ctrl.countryPeriod.StatusId"
                                 skipped="!$ctrl.countryPeriod.BrickFileName"
                                 ng-hide="!$ctrl.countryPeriod.BrickFileName && $ctrl.countryPeriod.StatusId >100"></status-icon>
                    <status-icon target="520"
                                 offset="9"
                                 Status="$ctrl.countryPeriod.StatusId"
                                 skipped="!$ctrl.countryPeriod.BrickFileName"
                                 ng-hide="!$ctrl.countryPeriod.BrickFileName && $ctrl.countryPeriod.StatusId >100"></status-icon>
                    &nbsp;
                </span>
            </span>
        </h2>
        <div ui-view="extrapolate"></div>

        <button class="btn btn-flex btn-default bot " ui-sref="extrapolate" ng-disabled="$ctrl.countryPeriod.StatusId<500">
            <span>Details</span> &nbsp;<i ng-class="$root.Icons.arrowright2"></i>
        </button>
    </div>
</div>
