
@{
    Layout = null;
}

<div class="flex-container three-col main-container">

    <div ng-repeat="country in $ctrl.countryList" class="flex-box">
        <h2 class="tilehead">
            <a ui-sref="analysis.cockpit({country:country.CountryId,date:$root.$stateParams.date})">{{country.CountryName}}</a><small style="float: right"><i class="{{$root.Icons.location}}"></i> {{ {0:'Not Started',100:'Data Preperation',110:'Data Preperation', 200:'Anomaly Detection', 300:'Validation of Anomalies', 310:'Validation of Anomalies', 320:'Validation of Anomalies', 400:'Calculate VPD', 410:'Calculate VPD', 420:'Calculate VPD', 500:'Extrapolate VPD',510:'Extrapolate VPD',520:'Extrapolate VPD', 600:'Finished'}[country.StatusId] }}</small>
        </h2>

        <div class="content">
            <table class="table table-condensed">
                <tr>
                    <td>Bricks</td>
                    <td class="number">{{country.BrickBrickCount||0|number}}</td>
                </tr>
                <tr>
                    <td>Brick SKUs</td>
                    <td class="number">{{country.BrickSkuCount||0|number}}</td>
                </tr>
                <tr>
                    <td>National SKUs</td>
                    <td class="number"> {{country.NationalSkuCount||0|number}}</td>
                </tr>
            </table>

        </div>

    </div>
</div>