
@{
    Layout = null;
}

<div class="flex-container main-container">
    <div class="flex-box">
        <div class="content">
            <table class="table" float-thead>
                <thead>
                    <tr>
                        <th></th>
                        <th>Data Preparation</th>
                        <th>Anomaly Detection</th>
                        <th>Validation of Anomalies</th>
                        <th>Patient Demand Validation</th>
                        <th>Target Volume Extrapolation</th>
                    </tr>
                </thead>
                <tr ng-repeat="country in $ctrl.countryList|orderBy:'CountryName'">
                    <td>
                        <a ui-sref="analysis.cockpit({country: country.CountryId, date: $root.$stateParams.date})">{{country.CountryName}}</a>
                        <a class="pull-right"
                           ng-show="country.StatusId >=600"
                           ui-sref="roReport({dashboard:'KPI', report: 'KLM',countryId: country.CountryId, date: $root.$stateParams.date})" 
                           uib-tooltip="View Reports"><i ng-class="$root.Icons.report"></i></a>
                    </td>
                    <td>
                        <button class="btn btn-link"
                                ui-sref="dataPreparation({country: country.CountryId, date: $root.$stateParams.date})"
                                uib-tooltip="Prepare national and brick data by country.">
                            <status-icon target="100" offset="9" Status="country.StatusId"></status-icon>
                        </button>
                        <button class="btn btn-link"
                                ui-sref="dataPreparation({country: country.CountryId, date: $root.$stateParams.date})"
                                uib-tooltip="Adjust in Scope / Out of Scope settings of SKUs">
                            <status-icon target="110" offset="9" Status="country.StatusId"></status-icon>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-link"
                                uib-tooltip="Validate Brick data and assign risk class by region."
                                ui-sref="anomalyDetection({country: country.CountryId, date: $root.$stateParams.date})"
                                ng-disabled="country.StatusId <200 || !country.BrickFileName">
                            <status-icon target="200" Status="country.StatusId" skipped="!country.BrickFileName && country.StatusId > 100"></status-icon>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-link" 
                                uib-tooltip="Maintain products as potential anomalous by region."
                                ui-sref="anomalyValidation({country: country.CountryId, date: $root.$stateParams.date})"
                                ng-disabled="country.StatusId <300 ||!country.BrickFileName">
                            <status-icon target="300"
                                         offset="9"
                                         Status="country.StatusId" 
                                         skipped="!country.BrickFileName && country.StatusId > 100"></status-icon>&nbsp;
                        </button>
                        <button class="btn btn-link" 
                                uib-tooltip="Validate and comment on potential anomalies by country."
                                ui-sref="anomalyValidation({country: country.CountryId, date: $root.$stateParams.date})"
                                ng-disabled="country.StatusId <300 ||!country.BrickFileName">
                            <status-icon target="310"
                                         offset="9"
                                         Status="country.StatusId" 
                                         ng-hide="!country.BrickFileName && country.StatusId > 100"></status-icon>&nbsp;
                        </button>
                        <button class="btn btn-link" 
                                uib-tooltip="Validate and approve comments and anomalies by region."
                                ui-sref="anomalyValidation({country: country.CountryId, date: $root.$stateParams.date})"
                                ng-disabled="country.StatusId <300 ||!country.BrickFileName">
                            <status-icon target="320"
                                         offset="9"
                                         Status="country.StatusId" 
                                         ng-hide="!country.BrickFileName && country.StatusId > 100"></status-icon>
                        </button>
                    </td>
                    <td>

                        <button class="btn btn-link"
                                ui-sref="patientDemandValidation({country: country.CountryId, date: $root.$stateParams.date})"
                                ng-disabled="country.StatusId <400 ||!country.BrickFileName"
                                uib-tooltip="Validate calculated monthly and propose limits by country.">
                            <status-icon target="410"
                                         offset="9"
                                         Status="country.StatusId" 
                                         ng-hide="!country.BrickFileName && country.StatusId > 100"></status-icon>&nbsp;
                        </button>
                        <button class="btn btn-link"
                                ui-sref="patientDemandValidation({country: country.CountryId, date: $root.$stateParams.date})"
                                ng-disabled="country.StatusId <400 ||!country.BrickFileName"
                                uib-tooltip="Validate proposed monthly limit by region.">
                            <status-icon target="420"
                                         offset="9"
                                         Status="country.StatusId"
                                         ng-hide="!country.BrickFileName && country.StatusId > 100"></status-icon>
                        </button>

                    </td>
                    <td>
                        <button class="btn btn-link"
                                ui-sref="extrapolate({country: country.CountryId, date: $root.$stateParams.date})"
                                ng-disabled="country.StatusId <500" 
                                uib-tooltip="Select source data and validate proposed target volume by region.">
                            <status-icon target="500"
                                         Status="country.StatusId"
                                         offset="9"
                                        ></status-icon>
                        </button>
                        <button class="btn btn-link"
                                ui-sref="extrapolate({country: country.CountryId, date: $root.$stateParams.date})"
                                ng-disabled="country.StatusId <500"
                                 uib-tooltip="Validate and propose target volume by country.">
                            <status-icon target="510"
                                         Status="country.StatusId"
                                         offset="9"
                                        ></status-icon>
                        </button>
                        <button class="btn btn-link"
                                ui-sref="extrapolate({country: country.CountryId, date: $root.$stateParams.date})"
                                ng-disabled="country.StatusId <500"
                                uib-tooltip="Validate and approve proposed target volume by region.">
                            <status-icon target="520"
                                         Status="country.StatusId"
                                         offset="9"
                                         ></status-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>