
@{
    Layout = null;
}


<h1 class="top">
    {{$ctrl.item.Sku}}<span ng-show="$ctrl.item.BayerSkuName">, {{$ctrl.item.BayerSkuName}}</span>
    <a class="closebtn" ui-sref="^"><i ng-class="$root.Icons.close"></i></a>
</h1>
<div class="content">
    <h2>Values</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th class="number">Value</th>
            </tr>
        </thead>
        <tr>
            <td>
                <span uib-tooltip="Emergency Channel Quantity"
                      tooltip-append-to-body="true">
                    Emergency Qty
                </span>
            </td>
            <td class="number">{{$ctrl.item.EmergencyChannelQuantity||0|number}}</td>
        </tr>
        <tr>
            <td>
                <span uib-tooltip="Moving Annual Total Units"
                      tooltip-append-to-body="true">
                    Units MAT
                </span>
            </td>
            <td class="number">{{$ctrl.item.UnitMat|number}}</td>
        </tr>
        <tr>
            <td>
                <span uib-tooltip="Moving Annual Total Values"
                      tooltip-append-to-body="true">
                    Values MAT
                </span>
            </td>
            <td class="number">{{$ctrl.item.ValueMat|number}}</td>
        </tr>
        <tr>
            <td>
                <span uib-tooltip="Moving Annual Total Units  with time series anomalies"
                      tooltip-append-to-body="true">
                    Units MAT tsa

                </span>
            </td>
            <td class="number">{{$ctrl.item.StUnitMat|number}}</td>
        </tr>
        <tr>
            <td>
                <span uib-tooltip="Units (+/-%) with time series anomalies"
                      tooltip-append-to-body="true">
                    Units (+/-%) tsa

                </span>
            </td>
            <td class="number">{{$ctrl.item.UnitPercSt |percent}}</td>
        </tr>
        <tr>
            <td>
                <span uib-tooltip="Units in top 5% bricks"
                      tooltip-append-to-body="true">
                    Units 5% Bricks

                </span>
            </td>
            <td class="number">{{$ctrl.item.UnitMatTop5perc|number}}</td>
        </tr>
        <tr>
            <td>
                <span uib-tooltip="Units (+/-%) in top 5% bricks"
                      tooltip-append-to-body="true">
                    Units (+/-%) 5% Bricks
                </span>
            </td>
            <td class="number">{{$ctrl.item.UnitPercTop5perc|percent}}</td>
        </tr>
        <tr ng-show="$ctrl.item.InScope">
            <td>Risk</td>
            <td>
                <risk-picker data-value="$ctrl.item.RiskId"
                             ng-click="$ctrl.Update($ctrl.item, 'RiskId')"
                             ng-disabled="!$ctrl.canEdit"></risk-picker>
            </td>
        </tr>
       
    </table>
</div>