
@{
    Layout = null;
}


<div class="flex-container main-container" ng-class="{'loading-state': $ctrl.finalizing}">
    <div class="flex-box">
        <div class="tilehead">
            <h1>Anomaly Detection</h1>
            <button class="btn btn-default closebtn"
                    ng-click="$ctrl.finalize()"
                    ng-disabled="!$ctrl.canFinalize()">
                Submit <spinner show="{{$root.Icons.save}}" loading="$ctrl.finalizing"></spinner>
            </button>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-sm-9">
                    <ul class="nav nav-pills">

                        <li ui-sref-active="active"><a ui-sref="anomalyDetection({view:'all'})">All</a></li>
                        <li ui-sref-active="active"><a ui-sref="anomalyDetection({view:'isBayer'})">Bayer Product</a></li>
                        <li ui-sref-active="active"><a ui-sref="anomalyDetection({view:'new'})">New</a></li>
                        <li ui-sref-active="active"><a ui-sref="anomalyDetection({view:'withRisk'})">With Risk</a></li>

                    </ul>
                </div>

                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i ng-class="$root.Icons.search"></i></span>
                        <input class="form-control" placeholder="Search ..." ng-model="$ctrl.search.$" />
                    </div>


                </div>

            </div>
            <table class="table table-striped table-condensed table-hover" float-thead="$ctrl.list">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Product</th>
                        <th class="number">
                            <span uib-tooltip="Emergency Channel Quantity"
                                  tooltip-append-to-body="true">
                                Emergency Qty
                            </span>
                        </th>
                        <th class="number">
                            <span uib-tooltip="Moving Annual Total Units"
                                  tooltip-append-to-body="true">
                                Units MAT
                            </span>
                        </th>
                        <th class="number">
                            <span uib-tooltip="Moving Annual Total Values"
                                  tooltip-append-to-body="true">
                                Values MAT
                            </span>
                        </th>
                        <th class="number">
                            <span uib-tooltip="Moving Annual Total Units  with time series anomalies"
                                  tooltip-append-to-body="true">
                                Units MAT tsa

                            </span>
                        </th>
                        <th class="number">
                            <span uib-tooltip="Units (+/-%) with time series anomalies"
                                  tooltip-append-to-body="true">
                                Units (+/-%) tsa

                            </span>
                        </th>
                        <th class="number">
                            <span uib-tooltip="Units in top 5% bricks"
                                  tooltip-append-to-body="true">
                                Units 5% Bricks

                            </span>
                        </th>
                        <th class="number">
                            <span uib-tooltip="Units (+/-%) in top 5% bricks"
                                  tooltip-append-to-body="true">
                                Units (+/-%) 5% Bricks
                            </span>
                        </th>
                        <th>
                            Risk<distinct-filter field="RiskId"
                                                 placement="bottom-right"
                                                 list="$ctrl.list"
                                                 mapping="{null:'Not Selected', 1: 'Low Risk', 2: 'No Risk', 3:'High Risk'}" ,
                                                 hide-search="true"
                                                 filter="$ctrl.search"></distinct-filter>
                        </th>

                    </tr>
                </thead>
                <tr ng-repeat="item in $ctrl.list|filter: $ctrl.filter|filter: $ctrl.search" ui-sref-active="active">
                    <td><a ui-sref=".detail({id:item.MarketDemandSkuUuid})">{{item.Sku}}</a> <sup class="text-muted" ng-show="item.RiskIdPrev === null">new</sup></td>
                    <td>{{item.BayerSkuName}}</td>
                    <td class="number">{{item.EmergencyChannelQuantity|number}}</td>
                    <td class="number">{{item.UnitMat|number}}</td>
                    <td class="number">{{item.ValueMat|number}}</td>
                    <td class="number">{{item.StUnitMat|number}}</td>
                    <td class="number">{{item.UnitPercSt|percent}}</td>
                    <td class="number">{{item.UnitMatTop5perc|number}}</td>
                    <td class="number">{{item.UnitPercTop5perc|percent}}</td>
                    <td>
                        <risk-picker ng-model="item.RiskId"
                                     ng-change="$ctrl.Update(item,'RiskId')"
                                     ng-disabled="!$ctrl.canEdit"
                                     ng-show="item.InScope"></risk-picker>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>