
@{
    Layout = null;
}

<div class="info-field" ng-show="$ctrl.countryPeriod.StatusId < 200"><i class="{{$root.Icons.info}}"></i>&nbsp;Not yet started
</div>
<div class="info-field" ng-show="$ctrl.countryPeriod.StatusId > 110 && !$ctrl.countryPeriod.BrickFileName"><i class="{{$root.Icons.info}}"></i>&nbsp;Skipped
</div>

<table class="table" ng-show="$ctrl.countryPeriod.StatusId >= 200 && $ctrl.countryPeriod.BrickFileName">
    <thead>
    <tr>
        <th>Name</th>
        <th class="number">InScope </th>
        <th class="number">Total</th>
    </tr>
    </thead>
    <tr>
        <td>Items</td>
        <td class="number">{{$ctrl.adInfo.InScope}}</td>
        <td class="number">{{$ctrl.adInfo.Total}}</td>
    </tr>
    <tr>
        <td><i ng-class="$root.Icons.norisk" class="text-success"></i> No Risk</td>
        <td class="number">{{$ctrl.adInfo.NoRisk}}</td>
        <td class="number">{{$ctrl.adInfo.NoRiskTotal}}</td>
    </tr>
    <tr>
        <td><i ng-class="$root.Icons.lowrisk" class="text-warning"></i> Low Risk</td>
        <td class="number">{{$ctrl.adInfo.LowRisk}}</td>
        <td class="number">{{$ctrl.adInfo.LowRiskTotal}}</td>
    </tr>
    <tr>
        <td><i ng-class="$root.Icons.highrisk" class="text-danger"></i> High Risk</td>
        <td class="number">{{$ctrl.adInfo.HighRisk}}</td>
        <td class="number">{{$ctrl.adInfo.HighRiskTotal}}</td>
    </tr>

</table>
<div class="info-field" ng-show="$ctrl.countryPeriod.StatusId == 200">
    <i class="{{$root.Icons.info}}"></i>&nbsp;Waiting for regional market demand manager to validate data and mark risk class of products.

</div>