
@{
    Layout = null;
}

<div class="info-field" ng-show="$ctrl.countryPeriod.StatusId < 300"><i class="{{$root.Icons.info}}"></i>&nbsp;Not yet started
</div>
<div class="info-field" ng-show="$ctrl.countryPeriod.StatusId > 100 && !$ctrl.countryPeriod.BrickFileName">
    <i class="{{$root.Icons.info}}"></i>&nbsp;Skipped
</div>
<table class="table" ng-show="$ctrl.countryPeriod.StatusId >= 300 && $ctrl.countryPeriod.BrickFileName">
    <thead>
    <tr>
        <th>Name</th>

        <th class="number">Total</th>
    </tr>
    </thead>
    <tr>
        <td>Items</td>

        <td class="number">{{$ctrl.Info.Total}}</td>
    </tr>
    <tr>
        <td>Potential Anomalies</td>

        <td class="number">{{$ctrl.Info.PotentialAnomalyCount}}</td>
    </tr>
    <tr>
        <td>Anomalies</td>

        <td class="number">{{$ctrl.Info.AnomalyCount}}</td>
    </tr>
    <tr>
        <td>Comments</td>

        <td class="number">{{$ctrl.Info.CommentCount}}</td>
    </tr>
    <tr>
        <td>Approved</td>

        <td class="number">{{$ctrl.Info.ApprovedCount}}</td>
    </tr>
    <tr>
        <td>Pre Approved</td>

        <td class="number">{{$ctrl.Info.PreApprovedCount}}</td>
    </tr>


</table>
<div class="info-field" ng-show="$ctrl.countryPeriod.StatusId == 300"><i class="{{$root.Icons.info}}"></i>&nbsp;Waiting for regional market demand manager to mark products as potentially anomalous.

</div>
<div class="info-field" ng-show="$ctrl.countryPeriod.StatusId == 310"><i class="{{$root.Icons.info}}"></i>&nbsp;Waiting for country coordinator to validate and comment on potential anomalies.

</div>
<div class="info-field" ng-show="$ctrl.countryPeriod.StatusId == 320"><i class="{{$root.Icons.info}}"></i>&nbsp;Waiting for regional market demand manager to approve the comments and anomalies.
</div>
