
@{
    Layout = null;
}


<div class="flex-container main-container" ng-class="{'loading-state': $ctrl.finalizing}">
    <div class="flex-box">
        <div class="tilehead">
            <h1>Data Preparation</h1>
            <button class="btn btn-default closebtn"
                    ng-disabled="!$ctrl.canFinalize()"
                    ng-click="$ctrl.finalize()">
                Submit <spinner show="{{$root.Icons.save}}" loading="$ctrl.finalizing"></spinner>
            </button>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-sm-8">
                    <ul class="nav nav-pills">
                        <li ui-sref-active="active"><a ui-sref="dataPreparation({view:'all'})">All</a></li>
                        <li ui-sref-active="active"><a ui-sref="dataPreparation({view:'isBayer'})">Bayer Product</a></li>
                        <li ui-sref-active="active"><a ui-sref="dataPreparation({view:'new'})">New</a></li>
                    </ul>

                </div>


                <div class="col-sm-1">
                    <a ui-sref="dataPreparation.preApprove"
                       class="btn btn-primary btn-block"
                       ng-show="$ctrl.countryPeriod.BrickBrickCount">Bricks</a>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i ng-class="$root.Icons.search"></i></span>
                        <input class="form-control" placeholder="Search ..." ng-model="$ctrl.search.$" />
                    </div>


                </div>

            </div>
            <table class="table table-striped table-condensed table-hover" float-thead="$ctrl.list">
                <thead>
                    <tr>
                        <th style="width: 30px">
                            <distinct-filter field="DataTypeName"
                                             list="$ctrl.list"
                                             filter="$ctrl.search"></distinct-filter>
                        </th>
                        <th style="width: 435px;">SKU</th>
                        <th class="col-sm-3">
                            <span uib-tooltip="Bayer SKU"
                                  tooltip-append-to-body="true">
                                Product
                            </span>
                        </th>
                        <th class="text-center">
                            In Scope
                            <distinct-filter field="InScope"
                                             list="$ctrl.list"
                                             mapping="{null:'Not In Scope', 0: 'Not In Scope', 1: 'In Scope'}" ,
                                             hide-search="true"
                                             filter="$ctrl.search"></distinct-filter>
                        </th>
                        <th class="number">
                            <span uib-tooltip="Emergency Channel Quantity"
                                  tooltip-append-to-body="true">Emergency Qty</span>
                        </th>
                        <th class="number">
                            <span uib-tooltip="Moving Annual Total Units"
                                  tooltip-append-to-body="true">
                                Units MAT
                            </span>
                       
                        </th>
                        <th class="number">
                            <span uib-tooltip="Moving Annual Total Values"
                                  tooltip-append-to-body="true">
                         Values MAT
                            </span>
                         
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="item in $ctrl.list|filter: $ctrl.filter|filter: $ctrl.search" ui-sref-active="active">
                    <td><i ng-class="{ '{{$root.Icons.country}}': item.DataTypeId == 2,'{{$root.Icons.brick}} ': item.DataTypeId == 1}"></i></td>
                    <td><a ui-sref=".detail({id:item.ItemUuid})">{{item.Sku}}</a> <sup ng-show="item.IsNew" class="text-muted">new</sup><img src="/Images/bayer_20_logo.png" style="float: right" ng-show="item.IsBayer" /></td>
                    <td>

                        <input class="form-control"
                               ng-model="item.BayerSkuUuid"
                               uib-typeahead="sku.BayerSkuUuid as sku.BayerSkuName for sku in $ctrl.skus | filter:{BayerSkuName:$viewValue}"
                               ng-if="item.IsBayer"
                               typeahead-min-length="0"
                               ng-disabled="!$ctrl.canEdit"
                               typeahead-editable="false"
                               typeahead-on-select="$ctrl.Update(item, 'BayerSkuUuid')"
                               typeahead-input-formatter="$ctrl.formatInput($model, item)"
                               ng-class="{'ng-invalid': item.error['BayerSkuUuid']}"
                               typeahead-append-to-body="true" />

                    </td>
                    <td class="text-center">
                        <check-box ng-change="$ctrl.Update(item, 'InScope')"
                                   ng-model="item.InScope"
                                   ng-class="{'ng-invalid': item.error['InScope']}"
                                   ng-disabled="!$ctrl.canEdit"></check-box>
                    </td>
                    <td class="number">
                        <input ng-show="item.IsBayer"
                               ng-change="$ctrl.Update(item, 'EmergencyChannelQuantity')"
                               ng-model-options='{ debounce: 500 }'
                               ng-model="item.EmergencyChannelQuantity"
                               class="form-control number"
                               ng-class="{'ng-invalid': item.error['EmergencyChannelQuantity']}"
                               ng-disabled="!$ctrl.canEdit">
                    </td>
                    <td class="number">{{item.UnitMat|number}}</td>
                    <td class="number">{{item.ValueMat|number}}</td>

                </tr>
            </table>
            <div class="alert alert-info" ng-show="$ctrl.list.length == 0">
                There are no items to display. Please upload National and Brick Data;
            </div>
        </div>
    </div>

</div>