
@{
    Layout = null;
}

<h1 class="top">
   New Manual Target Volume
    <a class="closebtn" ui-sref="^"><i ng-class="$root.Icons.close"></i></a>
</h1>
<div class="content">
    <table class="table">
        <tr>
            <td>Target Value</td>
            <td><input ng-disabled="!$ctrl.canEdit" class="number form-control" ng-model="$ctrl.item.TargetVolume"/></td>
        </tr>
        <tr>
            <td>Bayer Product</td>
            <td><input ng-disabled="!$ctrl.canEdit"
                       class="form-control" ng-model="$ctrl.item.BayerSkuUuid"
                       uib-typeahead="sku.BayerSkuUuid as sku.BayerSkuName for sku in $ctrl.skus | filter:{BayerSkuName:$viewValue}"
                       typeahead-min-length="0"
                       typeahead-editable="false"
                       typeahead-input-formatter="$ctrl.formatInput($model)"/></td>
        </tr>
    </table>
    <button class="btn btn-primary btn-block" ng-click="$ctrl.add()" ng-disabled="!$ctrl.item.TargetVolume || !$ctrl.item.BayerSkuUuid || !$ctrl.canEdit">Add Manual Target Volume</button>
</div>