
@{
    Layout = null;
}

<div class="flex-container main-container" ng-class="{'loading-state': $ctrl.finalizing}">
    <div class='loading' ng-show="$ctrl.finalizing">Loading</div>
    <div class="flex-box">
        <div class="tilehead">
            <h1>Patient Demand Validation</h1>
            <button class="btn btn-default closebtn"
                    ng-click="$ctrl.finalize()"
                    ng-disabled="!$ctrl.canFinalize()">
                Submit <spinner show="{{$root.Icons.save}}" loading="$ctrl.finalizing"></spinner>
            </button>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-sm-9">
                    <ul class="nav nav-pills">
                        <li ui-sref-active="active"><a ui-sref="patientDemandValidation({view:'all'})">All</a></li>
                        <li ui-sref-active="active"><a ui-sref="patientDemandValidation({view:'limited'})">Limited</a></li>
                        <li ui-sref-active="active"><a ui-sref="patientDemandValidation({view:'notLimited'})">Not Limited</a></li>
                        <li ui-sref-active="active"><a ui-sref="patientDemandValidation({view:'accepted'})">Accepted</a></li>
                        <li ui-sref-active="active"><a ui-sref="patientDemandValidation({view:'notAccepted'})">Not Accepted</a></li>
                    </ul>
                </div>

            </div>
            <table class="table table-condensed table-hover table-stripe" float-thead>
                <thead>
                <tr>
                    <th colspan="{{$ctrl.countryPeriod.StatusId>400?28:26}}">
                        Sku
                        <distinct-filter field="Sku" list="$ctrl.list" filter="$ctrl.search"></distinct-filter>
                        <button class="btn btn-link" ng-click="reduce = !reduce">
                            <span ng-show="!reduce"><small ng-class="$root.Icons.reduce"></small> Reduce</span>
                            <span ng-show="reduce"><small ng-class="$root.Icons.expand"></small> Expand</span>
                        </button>
                    </th>
                </tr>
                <tr>
                    <th>Brick <distinct-filter field="Brick" list="$ctrl.list" filter="$ctrl.search"></distinct-filter></th>
                    <th class="number">{{$ctrl.list[0].values[0].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[1].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[2].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[3].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[4].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[5].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[6].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[7].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[8].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[9].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[10].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[11].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[12].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[13].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[14].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[15].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[16].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[17].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[18].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[19].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[20].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[21].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[22].Name}}</th>
                    <th class="number">{{$ctrl.list[0].values[23].Name}}</th>
                    <th class="number">Limit</th>
                    <th class="number" ng-show="$ctrl.countryPeriod.StatusId > 400">Limit Proposed</th>
                    <th class="text-center" ng-show="$ctrl.countryPeriod.StatusId >400">Ok <button class="btn btn-sm btn-link" ng-show="$ctrl.canEdit && $ctrl.countryPeriod.StatusId ==420" ng-click="$ctrl.approveAll()"><i ng-class="$root.Icons.check"></i> all</button></th>
                </tr>
                </thead>
                <tbody ng-repeat="sku in $ctrl.Skus">
                <tr class="group-head">
                    <th >{{sku.Sku}}</th>
                    <th class="number">{{sku.Unit1|number}}</th>
                    <th class="number">{{sku.Unit2|number}}</th>
                    <th class="number">{{sku.Unit3|number}}</th>
                    <th class="number">{{sku.Unit4|number}}</th>
                    <th class="number">{{sku.Unit5|number}}</th>
                    <th class="number">{{sku.Unit6|number}}</th>
                    <th class="number">{{sku.Unit7|number}}</th>
                    <th class="number">{{sku.Unit8|number}}</th>
                    <th class="number">{{sku.Unit9|number}}</th>
                    <th class="number">{{sku.Unit10|number}}</th>
                    <th class="number">{{sku.Unit11|number}}</th>
                    <th class="number">{{sku.Unit12|number}}</th>
                    <th class="number">{{sku.Unit13|number}}</th>
                    <th class="number">{{sku.Unit14|number}}</th>
                    <th class="number">{{sku.Unit15|number}}</th>
                    <th class="number">{{sku.Unit16|number}}</th>
                    <th class="number">{{sku.Unit17|number}}</th>
                    <th class="number">{{sku.Unit18|number}}</th>
                    <th class="number">{{sku.Unit19|number}}</th>
                    <th class="number">{{sku.Unit20|number}}</th>
                    <th class="number">{{sku.Unit21|number}}</th>
                    <th class="number">{{sku.Unit22|number}}</th>
                    <th class="number">{{sku.Unit23|number}}</th>
                    <th class="number">{{sku.Unit24|number}}</th>
                    <th></th>
                    <th ng-show="$ctrl.countryPeriod.StatusId > 400"></th>
                    <th ng-show="$ctrl.countryPeriod.StatusId > 400"></th>
                </tr>
                <tr ui-sref-active="active"
                    ng-repeat="item in sku.Bricks|filter:$ctrl.filter|filter:$ctrl.search"
                    ng-hide="reduce">
                    <td><a style="white-space: nowrap" ui-sref=".detail({id:item.MarketDemandBrickUuid})">{{item.Brick}}</a></td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit1>item.LimitRegion}">{{item.Unit1|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit2>item.LimitRegion}">{{item.Unit2|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit3>item.LimitRegion}">{{item.Unit3|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit4>item.LimitRegion}">{{item.Unit4|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit5>item.LimitRegion}">{{item.Unit5|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit6>item.LimitRegion}">{{item.Unit6|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit7>item.LimitRegion}">{{item.Unit7|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit8>item.LimitRegion}">{{item.Unit8|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit9>item.LimitRegion}">{{item.Unit9|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit10>item.LimitRegion}">{{item.Unit10|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit11>item.LimitRegion}">{{item.Unit11|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue':item.LimitRegion !== null &&  item.LimitRegion>=0 && item.Unit12>item.LimitRegion}">{{item.Unit12|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit13>item.LimitRegion}">{{item.Unit13|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit14>item.LimitRegion}">{{item.Unit14|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit15>item.LimitRegion}">{{item.Unit15|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit16>item.LimitRegion}">{{item.Unit16|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit17>item.LimitRegion}">{{item.Unit17|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit18>item.LimitRegion}">{{item.Unit18|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit19>item.LimitRegion}">{{item.Unit19|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit20>item.LimitRegion}">{{item.Unit20|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit21>item.LimitRegion}">{{item.Unit21|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit22>item.LimitRegion}">{{item.Unit22|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit23>item.LimitRegion}">{{item.Unit23|limit:item.LimitRegion|number}}</td>
                    <td class="number" ng-class="{'issue': item.LimitRegion !== null && item.LimitRegion>=0 && item.Unit24>item.LimitRegion}">{{item.Unit24|limit:item.LimitRegion|number}}</td>
                    <td class="number">
                        {{item.LimitRegion|number: 0}}
                    </td>
                    <td class="number" ng-show="$ctrl.countryPeriod.StatusId > 400">
                        <input class="form-control number"
                               style="width: 80px;"
                               ng-model="item.LimitCountry"
                               ng-change="$ctrl.update(item, 'LimitCountry')"
                               ng-model-options="{debounce: 300}"
                               number
                               ng-disabled="$ctrl.countryPeriod.StatusId !== 410 || !$ctrl.canEdit || $ctrl.LimitApproved"
                               ng-show="item.LimitCalc || item.LimitRegion"/>

                        <comment ng-model="item.LimitComment"
                                 ng-show="(item.LimitCountry && item.LimitRegion != item.LimitCountry) || item.LimitComment"
                                 ng-change="$ctrl.update(item, 'LimitComment')"

                                 ng-disabled="!$ctrl.canEdit || $ctrl.countryPeriod.StatusId != 410 || $ctrl.LimitApproved"></comment>
                    </td>
                    <td class="text-center" ng-show="$ctrl.countryPeriod.StatusId > 400">
                        <check-box ng-model="item.LimitApproved"
                                   ng-show="item.LimitCountry && item.LimitCountry != item.LimitCalc"
                                   ng-change="$ctrl.approve(item)"
                                   ng-disabled="!$ctrl.canEdit || $ctrl.countryPeriod.StatusId != 420"></check-box>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>