
@{
    Layout = null;
}


<h2 ng-click="showPopover= !showPopover" class="centered">
    {{($ctrl.countryList|find:{CountryId: $root.$stateParams.country}).CountryName }} <br/><small>{{($ctrl.dateList|find:{PeriodId:$root.$stateParams.date}).Name}}</small>
    <i class="{{$root.Icons.arrowdown}} right"></i>
</h2>
<div id="test" 
     class="popover fade bottom in" 
     ng-style="{display: showPopover?'block':'none'}" 
     style="top: 60px;" 
     ng-click="showPopover = false">
    <div class="arrow" style="left: 50%;"></div>
    <div style="width: 500px;">
        <div class="col-sm-6"  style="max-height: 400px; overflow-y: auto;">
            <div class="list-group" ng-repeat="year in $ctrl.dateList|distinct:'Year'|orderBy:'-'">
                <h3>{{year}}</h3>
                <a class="list-group-item"
                   ng-repeat="date in $ctrl.dateList|filter:{Year:year}|orderBy:'PeriodId':true"
                   ui-sref-active="active"
                   ui-sref="analysis.cockpit({date:date.PeriodId})">{{date.PeriodId|periodName:'MMMM'}}</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="list-group" style="max-height: 400px; overflow-y: auto;">
                <a ng-repeat="country in $ctrl.countryList|orderBy:'CountryName'" 
                   class="list-group-item" 
                   ui-sref="analysis.cockpit({country: country.CountryId})" 
                   ui-sref-active="active">{{country.CountryName}}</a>
            </div>
        </div>
    </div>
</div>