
@{
    Layout = null;
}


<div class="flex-container">
    <div class="flex-box">
        <h2 class="tilehead">Reports</h2>

        <div class="row">
            <div class="col-sm-2">
                <div class="list-group">
                    <a ui-sref="{report: report.ServiceFunction}"
                       ui-sref-active="active"
                       class="list-group-item"
                       ng-repeat="report in $ctrl.reports">{{report.Name}}</a>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="content" ng-include src="$ctrl.Report.Template"></div>
            </div>
        </div>

    </div>
</div>

<script type="text/ng-template" id="ESEPDashboard">

    <table class="table ">
        <thead>
            <tr>
                <th rowspan="2" style="vertical-align: bottom">{{$ctrl.Report.Level}}</th>
                <th rowspan="2" class="number" style="vertical-align: bottom">{{$ctrl.Report.Name}}</th>
                <th colspan="12" class="text-center">{{$ctrl.Report.Description}}</th>
            </tr>
            <tr>
                <th class="number">{{$ctrl.months[12]}}</th>
                <th class="number">{{$ctrl.months[13]}}</th>
                <th class="number">{{$ctrl.months[14]}}</th>
                <th class="number">{{$ctrl.months[15]}}</th>
                <th class="number">{{$ctrl.months[16]}}</th>
                <th class="number">{{$ctrl.months[17]}}</th>
                <th class="number">{{$ctrl.months[18]}}</th>
                <th class="number">{{$ctrl.months[19]}}</th>
                <th class="number">{{$ctrl.months[20]}}</th>
                <th class="number">{{$ctrl.months[21]}}</th>
                <th class="number">{{$ctrl.months[22]}}</th>
                <th class="number">{{$ctrl.months[23]}}</th>

            </tr>
        </thead>
        <tr ng-repeat="item in $ctrl.list">
            <td>{{item.Label}}</td>
            <td class="number">{{item.KeyFigure|number}}</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M1)">{{item.M1|percent:1}}%</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M2)">{{item.M2|percent:1}}%</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M3)">{{item.M3|percent:1}}%</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M4)">{{item.M4|percent:1}}%</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M5)">{{item.M5|percent:1}}%</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M6)">{{item.M6|percent:1}}%</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M7)">{{item.M7|percent:1}}%</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M8)">{{item.M8|percent:1}}%</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M9)">{{item.M9|percent:1}}%</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M10)">{{item.M10|percent:1}}%</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M11)">{{item.M11|percent:1}}%</td>
            <td class="number" ng-class="$ctrl.colorCodeESEP(item.M12)">{{item.M12|percent:1}}%</td>

        </tr>
    </table>
</script>

<script type="text/ng-template" id="Absolute12">
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th class="number">{{$ctrl.months[12]}}</th>
                <th class="number">{{$ctrl.months[13]}}</th>
                <th class="number">{{$ctrl.months[14]}}</th>
                <th class="number">{{$ctrl.months[15]}}</th>
                <th class="number">{{$ctrl.months[16]}}</th>
                <th class="number">{{$ctrl.months[17]}}</th>
                <th class="number">{{$ctrl.months[18]}}</th>
                <th class="number">{{$ctrl.months[19]}}</th>
                <th class="number">{{$ctrl.months[20]}}</th>
                <th class="number">{{$ctrl.months[21]}}</th>
                <th class="number">{{$ctrl.months[22]}}</th>
                <th class="number">{{$ctrl.months[23]}}</th>
            </tr>
        </thead>
        <tr ng-repeat="item in $ctrl.list">
            <td>{{item.Label}}</td>
            <td class="number">{{item.M1|number:0}}</td>
            <td class="number">{{item.M2|number:0}}</td>
            <td class="number">{{item.M3|number:0}}</td>
            <td class="number">{{item.M4|number:0}}</td>
            <td class="number">{{item.M5|number:0}}</td>
            <td class="number">{{item.M6|number:0}}</td>
            <td class="number">{{item.M7|number:0}}</td>
            <td class="number">{{item.M8|number:0}}</td>
            <td class="number">{{item.M9|number:0}}</td>
            <td class="number">{{item.M10|number:0}}</td>
            <td class="number">{{item.M11|number:0}}</td>
            <td class="number">{{item.M12|number:0}}</td>
        </tr>
    </table>
</script>

<script type="text/ng-template" id="Percent12">
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th class="number">{{$ctrl.months[12]}}</th>
                <th class="number">{{$ctrl.months[13]}}</th>
                <th class="number">{{$ctrl.months[14]}}</th>
                <th class="number">{{$ctrl.months[15]}}</th>
                <th class="number">{{$ctrl.months[16]}}</th>
                <th class="number">{{$ctrl.months[17]}}</th>
                <th class="number">{{$ctrl.months[18]}}</th>
                <th class="number">{{$ctrl.months[19]}}</th>
                <th class="number">{{$ctrl.months[20]}}</th>
                <th class="number">{{$ctrl.months[21]}}</th>
                <th class="number">{{$ctrl.months[22]}}</th>
                <th class="number">{{$ctrl.months[23]}}</th>
            </tr>
        </thead>
        <tr ng-repeat="item in $ctrl.list">
            <td>{{item.Label}}</td>
            <td class="number">{{item.M1|percent:2}}%</td>
            <td class="number">{{item.M2|percent:2}}%</td>
            <td class="number">{{item.M3|percent:2}}%</td>
            <td class="number">{{item.M4|percent:2}}%</td>
            <td class="number">{{item.M5|percent:2}}%</td>
            <td class="number">{{item.M6|percent:2}}%</td>
            <td class="number">{{item.M7|percent:2}}%</td>
            <td class="number">{{item.M8|percent:2}}%</td>
            <td class="number">{{item.M9|percent:2}}%</td>
            <td class="number">{{item.M10|percent:2}}%</td>
            <td class="number">{{item.M11|percent:2}}%</td>
            <td class="number">{{item.M12|percent:2}}%</td>
        </tr>
    </table>
</script>
<script type="text/ng-template" id="Absolute18">
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th class="number">{{$ctrl.months[6]}}</th>
                <th class="number">{{$ctrl.months[7]}}</th>
                <th class="number">{{$ctrl.months[8]}}</th>
                <th class="number">{{$ctrl.months[9]}}</th>
                <th class="number">{{$ctrl.months[10]}}</th>
                <th class="number">{{$ctrl.months[11]}}</th>
                <th class="number">{{$ctrl.months[12]}}</th>
                <th class="number">{{$ctrl.months[13]}}</th>
                <th class="number">{{$ctrl.months[14]}}</th>
                <th class="number">{{$ctrl.months[15]}}</th>
                <th class="number">{{$ctrl.months[16]}}</th>
                <th class="number">{{$ctrl.months[17]}}</th>
                <th class="number">{{$ctrl.months[18]}}</th>
                <th class="number">{{$ctrl.months[19]}}</th>
                <th class="number">{{$ctrl.months[20]}}</th>
                <th class="number">{{$ctrl.months[21]}}</th>
                <th class="number">{{$ctrl.months[22]}}</th>
                <th class="number">{{$ctrl.months[23]}}</th>
            </tr>
        </thead>
        <tr ng-repeat="item in $ctrl.list">
            <td>{{item.Label}}</td>
            <td class="number">{{item.M1|number:0}}</td>
            <td class="number">{{item.M2|number:0}}</td>
            <td class="number">{{item.M3|number:0}}</td>
            <td class="number">{{item.M4|number:0}}</td>
            <td class="number">{{item.M5|number:0}}</td>
            <td class="number">{{item.M6|number:0}}</td>
            <td class="number">{{item.M7|number:0}}</td>
            <td class="number">{{item.M8|number:0}}</td>
            <td class="number">{{item.M9|number:0}}</td>
            <td class="number">{{item.M10|number:0}}</td>
            <td class="number">{{item.M11|number:0}}</td>
            <td class="number">{{item.M12|number:0}}</td>
            <td class="number">{{item.M13|number:0}}</td>
            <td class="number">{{item.M14|number:0}}</td>
            <td class="number">{{item.M15|number:0}}</td>
            <td class="number">{{item.M16|number:0}}</td>
            <td class="number">{{item.M17|number:0}}</td>
            <td class="number">{{item.M18|number:0}}</td>
        </tr>
    </table>
</script>
<script type="text/ng-template" id="Percent18">
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th class="number">{{$ctrl.months[6]}}</th>
                <th class="number">{{$ctrl.months[7]}}</th>
                <th class="number">{{$ctrl.months[8]}}</th>
                <th class="number">{{$ctrl.months[9]}}</th>
                <th class="number">{{$ctrl.months[10]}}</th>
                <th class="number">{{$ctrl.months[11]}}</th>
                <th class="number">{{$ctrl.months[12]}}</th>
                <th class="number">{{$ctrl.months[13]}}</th>
                <th class="number">{{$ctrl.months[14]}}</th>
                <th class="number">{{$ctrl.months[15]}}</th>
                <th class="number">{{$ctrl.months[16]}}</th>
                <th class="number">{{$ctrl.months[17]}}</th>
                <th class="number">{{$ctrl.months[18]}}</th>
                <th class="number">{{$ctrl.months[19]}}</th>
                <th class="number">{{$ctrl.months[20]}}</th>
                <th class="number">{{$ctrl.months[21]}}</th>
                <th class="number">{{$ctrl.months[22]}}</th>
                <th class="number">{{$ctrl.months[23]}}</th>
            </tr>
        </thead>
        <tr ng-repeat="item in $ctrl.list">
            <td>{{item.Label}}</td>
            <td class="number">{{item.M1|percent:2}}%</td>
            <td class="number">{{item.M2|percent:2}}%</td>
            <td class="number">{{item.M3|percent:2}}%</td>
            <td class="number">{{item.M4|percent:2}}%</td>
            <td class="number">{{item.M5|percent:2}}%</td>
            <td class="number">{{item.M6|percent:2}}%</td>
            <td class="number">{{item.M7|percent:2}}%</td>
            <td class="number">{{item.M8|percent:2}}%</td>
            <td class="number">{{item.M9|percent:2}}%</td>
            <td class="number">{{item.M10|percent:2}}%</td>
            <td class="number">{{item.M11|percent:2}}%</td>
            <td class="number">{{item.M12|percent:2}}%</td>
            <td class="number">{{item.M13|percent:2}}%</td>
            <td class="number">{{item.M14|percent:2}}%</td>
            <td class="number">{{item.M15|percent:2}}%</td>
            <td class="number">{{item.M16|percent:2}}%</td>
            <td class="number">{{item.M17|percent:2}}%</td>
            <td class="number">{{item.M18|percent:2}}%</td>
        </tr>
    </table>
</script>