
@{
    Layout = null;
}

<h1 class="top">
    {{$ctrl.item.CountryName}}
    <a class="closebtn" ui-sref="^"><i ng-class="$root.Icons.close"></i></a>
</h1>
<div class="content">
    <h2>Country Brand</h2>
    <div class="flex-container">
        <div class="list-group" style="width:49%">
            <a class="list-group-item" ng-repeat="brand in $ctrl.item.Brands" ng-click="$ctrl.removeBrand(brand)">
                <spinner class="pull-right" show="{{$root.Icons.remove}}" loading="brand.loading"></spinner>
                {{brand.BrandName}}

            </a>
        </div>
        <div class="list-group" style="width:49%">
            <a class="list-group-item" ng-repeat="brand in $ctrl.brands|diff:$ctrl.item.Brands:'BrandUuid'" ng-click="$ctrl.addBrand(brand)">
                <spinner class="pull-right" show="{{$root.Icons.add}}" loading="brand.loading"></spinner>
                {{brand.BrandName}}

            </a>
        </div>
    </div>

    <h2>Associated User</h2>

    <div class="list-group">
        <a class="list-group-item" ui-sref="admin.user.detail({id: user.UserUuid})" ng-repeat="user in $ctrl.item.User" >
            {{user.UserCwid}}
        </a>
    </div>


</div>