
@{
                /**/

                Layout = null;
}


<box heading="Role">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i ng-class="$root.Icons.search"></i></span>
        <input class="form-control" placeholder="Search ..." uib-typeahead="user as user.Title for user in $ctrl.adUser | filter:$viewValue | limitTo:5" ng-model="$ctrl.newUser" />
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Permissions</th>

            </tr>
        </thead>
        <tr ng-repeat="role in $ctrl.roles">
            <td>
                <a ui-sref="admin.role.detail({id:role.RoleId})">{{role.RoleId}}</a>
            </td>
            <td>
                <a ui-sref="admin.role.detail({id:role.RoleId})">{{role.RoleName}}</a>
            </td>
            <td>
                {{role.Permissions|join:'; ':'PermissionName'}}
            </td>

        </tr>
    </table>
    <h2>Add Role</h2>
    <div class="input-group">
        <input class="form-control" ng-model="$ctrl.newRole" />
        <div class="input-group-btn">
            <button class=" btn btn-default" ng-click="$ctrl.addRole()">Add Role</button>
        </div>
    </div>

</box>