
@{
    Layout = null;
}

<box title="User">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i ng-class="$root.Icons.search"></i></span>
        <input class="form-control" placeholder="Search ..." uib-typeahead="user as user.Title for user in $ctrl.adUser | filter:$viewValue | limitTo:5" ng-model="$ctrl.newUser" />
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>CWID</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Country</th>
            </tr>
        </thead>
        <tr ng-repeat="user in $ctrl.users">
            <td>
                <a ui-sref="admin.user.detail({id:user.UserUuid})">{{user.UserCwid}}</a>
            </td>
            <td>
                {{user.DisplayName}}
            </td>
            <td>
                {{user.Roles|join:', ':'RoleName'}}
            </td>
            <td>
                {{user.Countries|join:', ':'CountryName'}}
            </td>
        </tr>
    </table>
</box>